<!-- Social Buttons Start -->

<ul class="list-inline social-buttons">
    {% for network in site.social %}
    	{% if network.title == "scholar" %}
    		<li><a href="{{ network.url }}" target="_blank"><i class="ai ai-google-scholar-square ai-2x"></i></a></li>
    	{% else %}
    		<li><a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }} fa-fw"></i></a></li>
    	{% endif %}
    {% endfor %}
    {% if site.keybase-in-social %}
    <li><a href="https://keybase.io/{{site.keybase-username}}" target="_blank"><i class="fa fa-key fa-fw"></i></a></li>
    {% endif %}
</ul>

<!-- Social Buttons End -->
